<div class= "playerBox">

       <div class= "profilePicBox">
              <img class = "profilePic" src="../../image/bo3.jpg" alt="JayBreak" height="100px">
       </div>
       <div class= "profileUser">
              <p class= "profileElementList username"> {{username}}  </p>
       </div>
       <div class= "rankBox">

              <p class= "profileElementList skillRating" margin-left="100px"> PSN </p>


              <img class= "rankPic" src="../../image/psn.jpg" alt="Rank" height="100px" margin-left="400px" display="inline">
       </div>
</div>
