<div class= "miniPlayer">
     <div class= "miniProfilePicBox">
           <img class = "profilePic" src=../../image/psn.jpg alt={{username}} height="50px">
     </div>
     <div class= "miniProfileUser">
           <p class= " miniUsername"><a href="../../callofduty/result/{{username}}">  {{username}}  </a></p>

      </div>
      <div class= "miniRankBox">
             <p class= "miniSkillRating"> {{mp.lifetime.all.kdRatio}} </p>
             <p class= "miniSr"> KD Ratio</p>
      </div>
 </div>
