<img src="../../image/heros/{{hero_name}}.png" class="profilePic" height="50px">
<p class= "heroName">{{hero_name}}</p>

<div class="barContainer">
    <div class="skills hero" style="width: {{playPercentage}}%">{{playPercentage}}%</div>
</div>
