<div class="container">
  <table class="table table-stripped data-table">
    <thead>
      <tr>
        <th>Data Type</th>
        <th>Content</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Level</td>
        <td>{{mp.level}}</td>
      </tr>
      <tr>
        <td>Prestige</td>
        <td>{{mp.prestige}}</td>
      </tr>
    </tbody>
  </table>
</div>
