<nav class="navbar">
<ul class = "navlist">
      <li class = "navitem"><a href="../../"> Home </a></li>
      <li class = "navitem"><a href="../../about.html">About</a></li>
      <li class = "navitem"><a href="../../Overwatch">Overwatch</a></li>
      <li class = "navitem active"><a href="../callofduty/">COD</a></li>
</ul>
</nav>

<div class= "infoContainer">
       <div class= "profileContainer">
         {{> codPlayerBox}}
      </div>
      <div class="statContainer">
        {{> codStatBox}}
      </div>
      <div class= "suggestedPlayers">
        <p class= "sectionTitle"> Suggested Players </p>
        <div class= "playerContainer">
          {{#each suggested}}
            {{> codSuggested}}
          {{/each}}
        </div>
      </div>
</div>
<link rel="stylesheet" href="../../../style.css" media="screen">
